@model RentAcar_SG.Models.Vehicle

@{
    ViewBag.Title = "Details";
}
<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">

    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SG Araç Kiralama", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Admin Girişi", "MyAdmin", "MyAdmin", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>

</nav>

<h2>
    @Model.AracAdi
    @Model.ModelAdi
</h2>

<hr />
<img class="img-responsive" src="@Model.Resim" width="350" height="250" alt="" />
<hr />

<blockquote>
    <p>
        <strong>Günlük Fiyat :</strong>
        @Model.Fiyat TL
    </p>
</blockquote>

<p>
    <strong>Yılı :</strong>
    @Model.ModelYili
</p>

@if (Model.Uyggunluk == true)
{
    <p style="color:green">Mevcut Durumda Hemen Kirala !</p>
}
else
{
    <p style="color:red">Mevcut Değil</p>
}


<button type="button" class="btn" style="background-color:cadetblue; color:white">Kirala</button>



@section SagKolon
{
    @Html.Partial("Search")

    @{Html.RenderAction("KategoriListesi", "Category");}


}

